body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#sensors {
    list-style-type: none;
}

#sensors strong, #sensors span {
    display: block;
}

#sensors .unknown {
    color: #DEB1B4;
}

#sensors .unknown:after {
    content: "unknown";
}

#car-canvas {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

#map-canvas {
    border: 1px solid black;
    width: 600px;
    height: 600px;
}